.card-bdy{
    visibility: hidden;
}
.card:hover .card-bdy{
    background-color: rgba(13, 58, 95, 0.582);
    transition: all 2s ease-in-out;
    visibility: visible;
}
.card:hover .card-body{
    background-color: rgba(13, 58, 95, 0.582);
    transition: all 2s ease-in-out;
    color: white;
}
.payment-style{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px;
}
p{
    text-align: start;
    margin-bottom: 15px;
}