/* footer  */
footer{
    background-color: #14274A;
    height: 30%;
    bottom: 0;
    width: 100%;
}
.name{
    color: white;
    font-weight: lighter;
}
.footer-heading{
    line-height: 2px;
}
.address{
    color: white;
}
.address a{
    text-decoration: none;
    color: white;
    margin-left: 3px;
}
.address span{
    text-decoration: none;
    color: white;
    margin-left: 3px;
}
.input-box{
    width: 50%;
    margin-right: 0;
}
.sub-btn{
    text-decoration: none;
    color: white;
    background-color: #E0B973;
    padding: 5px 8px;
    border-radius: 5px;
    margin-bottom: 2%;
    margin-left: 0;
    border: 1px solid #E0B973;
}
.sub-btn:hover{
    background-color: white;
    color: #E0B973;
    border: 1px solid #E0B973;
}